/* Auteur: Farzin Faridfar */
/* Cours: IFT1147 Programmation serveur Web avec PHP */
/* Date: 18 dec 2016 */
/* Travail pratique #3 */
/* Fichier: buttonCSS.css */
/* Desc: le css pour fichier accueilFilm.html */

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 250px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
}

.butAff {
    background-color: white;
    color: black;
    border: 2px solid #00c3ff;
}

.butAff:hover {
    background-color: #00c3ff;
    color: white;
}

.butEnreg {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.butEnreg:hover {
    background-color: #4CAF50;
    color: white;
}

.butEnreg2 {
    padding: 8px 16px;    
    background-color: #4CAF50;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
}

.butEnreg2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.butSupp {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.butSupp:hover {
    background-color: #f44336;
    color: white;
}

.butSupp2 {
    padding: 8px 16px;    
    background-color: #f44336;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
}

.butSupp2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.butModif {
    background-color: white;
    color: black;
    border: 2px solid #fff721;
}

.butModif:hover {
background-color: #fff721;
color: white;
}

.butModif2 {
    padding: 8px 16px;    
    background-color: #fff721;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
}

.butModif2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.butAjout2 {
    padding: 8px 16px;    
    background-color: #00c3ff;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
}

.butAjout2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


input[type=text] {
    width: 10%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.inputPass[type=password] {
    width: 50%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #4CAF50;
}

.passAjout[type=password] {
    width: 50%;
    border: 2px solid #00c3ff;
}


.input2[type=text] {
    width: 30%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.enregIn[type=text] {
    width: 50%;
    border: 2px solid #4CAF50;
}

.suppIn[type=text] {
    width: 50%;
    border: 2px solid #f44336;
}

.modIn[type=text] {
    width: 50%;
    border: 2px solid #fff721;
}

.ajoutIn[type=text] {
    width: 50%;
    border: 2px solid #00c3ff;
}

.selEnreg {
    width: 50%;
    padding: 6px 10px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    background-color: #83c985;
}

.selModif {
    width: 50%;
    padding: 6px 10px;
    border: 2px solid #fff721;
    border-radius: 4px;
    background-color: #ffff99;
}