/* Auteur: Farzin Faridfar */
/* Cours: IFT1147 Programmation serveur Web avec PHP */
/* Date: 05 nov 2016 */
/* Travail pratique #3 */
/* Fichier: tableCSS.css */
/* Desc: le css pour le tableau cree par
 * fonction afficher dans le fichiers gestionFilms.php et*/
 

table {
border: medium solid #00c3ff;
border-collapse: collapse;
width: 100%;
font-size:14px;
}

th
{
font-family: monospace;
border: thin solid #ffffff;
border-bottom: medium solid #00c3ff;
font-size:14px;
width: 200px;
padding: 5px;
background-color: #00c3ff;
}

td
{
font-family: sans-serif;
border: thin solid #ffffff;
border-bottom: medium solid #00c3ff;
width: 200px;
padding: 5px;
text-align: center;
background-color: #ffffff;
/* background-color: #e5f9ff; */
}

tr:hover td {
background-color: #e5f9ff;
}